<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commentaireFormulaire</title>
</head>
<body>
    <fieldset>
        <legend><h1>Formulaire</h1></legend>
        <h3>Ajouter un Messages</h3>
        <div>
            <label for="firstName">Nom :</label>
            <input type="text" name="firstName" id="firstName" required>
        </div>

        <div>
            <label for="lastName">Prénoms :</label>
            <input type="text" name="lastName" id="lastName" required>
        </div>

        <div>
            <label for="email">Email :</label>
            <input type="text" name="email" id="email" required>
        </div>

        <div>
            <label for="content">Message :</label>
            <textarea name="content" id="content" style="resize: none;" cols="30" rows="10" wrap="soft" placeholder="Entrez votre Message ici " required></textarea>
        </div>
        <div>
            <button type="submit">Envoyer</button>
        </div>

    </form>
    </fieldset>


    <form method="post">

        

</body>
</html>