<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageInfo</title>
</head>

<body>
    <a href="/acceuil">Acceuil</a>
    <a href="/menuDetail">Menu </a>
    <a href="/">Commentaire</a>
    <a href="/message-add"> Ajouter Un Message</a>
    <a href="/pageInfo">Page Info</a>
  
    <fieldset>
        <legend>
            <h1>Informations sur Le Burger Gourmet</h1>
        </legend>
        

        <section>Adresse :
            123 Rue des Burgers
            75000 Villeburg</section>

        <h3>Horaires d'ouverture :</h3>

        <section>Lundi : Fermé
            Mardi à Jeudi : 11h00 - 22h00
            Vendredi et Samedi : 11h00 - 23h00
            Dimanche : 12h00 - 21h00</section>
        <h3>Réservations :</h3>
        <article>Pour réserver une table chez Le Burger Gourmet, veuillez nous appeler au [numéro de téléphone] ou utilisez notre
            système de réservation en ligne. Nous vous recommandons de réserver à l'avance, surtout pendant les heures de
            pointe et les week-ends.</article>

        <h3>Contact :</h3>

        <section>Téléphone : [numéro de téléphone]
            E-mail : [adresse e-mail]
            Suivez-nous sur les réseaux sociaux :
            Facebook : [lien vers la page Facebook]
            Instagram : [lien vers le compte Instagram]</section>
        <h3>À propos de nous :</h3>
        <article>Le Burger Gourmet est bien plus qu'un simple restaurant de burgers. C'est l'endroit où la passion pour la
            cuisine rencontre la convivialité. Notre équipe dévouée est toujours prête à vous accueillir et à vous faire
            vivre une expérience exceptionnelle.</article>

        <h3>Service Traiteur :</h3>
        <article>Vous cherchez à ajouter une touche spéciale à votre prochain événement ? Notre service traiteur est là pour
            vous. Contactez-nous pour discuter de la personnalisation de nos délicieux burgers pour votre réception,
            mariage, fête d'entreprise ou tout autre événement spécial.</article>

        <h3>Comment nous trouver :</h3>
        <section>(*****Insérez******)</section>

        <article>Nous sommes impatients de vous accueillir chez Le Burger Gourmet. Si vous avez des questions supplémentaires ou
            avez besoin d'informations spécifiques, n'hésitez pas à nous contacter. Nous sommes là pour rendre votre
            expérience aussi agréable que possible.</article>
    </fieldset>

</body>

</html>