<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-

    '<style>'
    
    + include(`../style/style.css`)
    
    + '</style>'
    
    %>
    <title>🍔 ***Acceuil*** 🍔</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">Mon Logo</a>
        </div>
        <ul class="menu">
            <li><a href="/acceuil">Accueil</a></li>
            <li><a href="/menu">Nos Burger</a></li>
            <li><a href="/">Commentaire</a></li>
            <li><a href="/message-add">Ajouter un Message</a></li>
            <li><a href="/pageInfo">Contact</a></li>
        </ul>
    </nav>
</body>
</html>

    <fieldset>
        <legend>
            <h1>🍔 ***Burger Gourmet*** 🍔</h1>
        </legend>
        <h2>Bienvenue au Burger Gourmet,</h2>
        <article>l'endroit où chaque bouchée est une expérience culinaire inoubliable. Chez nous,
            les burgers sont bien plus que de simples repas ; ce sont des créations artisanales savamment
            élaborées pour
            satisfaire vos papilles. Notre passion pour les hamburgers se reflète dans chaque détail, de la
            sélection
            méticuleuse de nos ingrédients frais à notre méthode de cuisson parfaite.</article>

        <h2>Découvrez notre menu diversifié,</h2>
        <p>allant des classiques intemporels aux créations uniques qui vous surprendront à
            chaque visite. Notre équipe de chefs talentueux travaille sans relâche pour vous offrir des
            combinaisons de
            saveurs exceptionnelles. Chaque burger est préparé avec amour et servi avec une portion généreuse de
            frites
            croustillantes.</p>

        <article> Nous sommes fiers de soutenir les producteurs locaux et de privilégier les ingrédients de la
            plus haute qualité.
            Notre engagement envers la fraîcheur et la qualité se reflète dans chaque plat que nous servons.
        </article>

        <article>Chez Le Burger Gourmet, nous croyons que chaque repas est une occasion spéciale. <br>
            Que vous veniez déguster un burger après une longue journée de travail ou que vous célébriez une
            occasion spéciale avec des amis, notre
            atmosphère chaleureuse et accueillante vous attend. Nous sommes déterminés à vous offrir une
            expérience
            mémorable à chaque visite.</article>

        <article>Explorez notre galerie de photos ci-dessous pour avoir un avant-goût de ce qui vous attend chez
            Le Burger
            Gourmet. </article>

        <h3>Images :</h3>

        <article> Nous espérons vous accueillir bientôt chez Le Burger Gourmet pour une aventure gustative que
            vous n'oublierez
            pas de sitôt. Venez découvrir la différence de la qualité et du goût dans chaque bouchée.</article>
    </fieldset>
</body>

</html>