<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>🍔 ***commentaireFormulaire*** 🍔</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">Mon Logo</a>
        </div>
        <ul class="menu">
            <li><a href="/acceuil">Accueil</a></li>
            <li><a href="/menu">Nos Burger</a></li>
            <li><a href="/">Commentaire</a></li>
            <li><a href="/message-add">Ajouter un Message</a></li>
            <li><a href="/pageInfo">Contact</a></li>
        </ul>
    </nav>
   
    <form method="post" action="/message-add">
        <fieldset>
            <legend>
                <h1>Formulaire</h1>
            </legend>
            <h3>Ajouter un Messages</h3>
            <div>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" required>
            </div>

            <div>
                <label for="prenom">Prénoms :</label>
                <input type="text" name="prenom" id="prenom" required>
            </div>
            <div>
                <label for="note">Entrer un note Sur 10/10:</label>
                <input type="number" id="note" name="note" min="0" max="10" placeholder="10" />
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" required>
            </div>

            <div>
                <label for="message">Message :</label>
                <textarea name="message" id="message" style="resize: none;" cols="30" rows="10" wrap="soft"
                    placeholder="Entrez votre Message ici "  required></textarea>
            </div>
            <div>
                <button type="submit">Envoyer</button>
            </div>

    </form>
    </fieldset>




</body>

</html>