<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>commentaireFormulaire</title>
</head>

<body>
    <a href="/acceuil">Acceuil</a>
    <a href="/menuDetail">menu Details</a>
    <a href="/">Commentaire</a>
    <a href="/message-add"> Ajouter Un Message</a>
    <a href="/pageInfo">Page Info</a>
   
    <form method="post" action="/message-add">
        <fieldset>
            <legend>
                <h1>Formulaire</h1>
            </legend>
            <h3>Ajouter un Messages</h3>
            <div>
                <label for="nom">Nom :</label>
                <input type="text" name="nom" id="nom" required>
            </div>

            <div>
                <label for="prenom">Prénoms :</label>
                <input type="text" name="prenom" id="prenom" required>
            </div>
            <div>
                <label for="note">Entrer un note Sur 10/10:</label>
                <input type="number" id="note" name="note" min="0" max="10" placeholder="10" />
            </div>

            <div>
                <label for="email">Email :</label>
                <input type="text" name="email" id="email" required>
            </div>

            <div>
                <label for="message">Message :</label>
                <textarea name="message" id="message" style="resize: none;" cols="30" rows="10" wrap="soft"
                    placeholder="Entrez votre Message ici "  required></textarea>
            </div>
            <div>
                <button type="submit">Envoyer</button>
            </div>

    </form>
    </fieldset>




</body>

</html>