<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PageInfo</title>
</head>
<body>
    <fieldset>
        <legend><h1>Page d'info du resto ❔</h1></legend>
    </fieldset>
    
</body>
</html>