<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MenuDetail</title>
</head>
<body>
    
    <fieldset>
        <legend><h1>Pour le Detail d'un plat</h1></legend>
        <ul>Nom<li></li>
        <li>description complète</li>
        <li>image</li>
        <li>prix</li>
        <li>allergène</li></ul>
    </fieldset>
</body>
</html>